.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	&_image {
		position: relative;
		width: 60vw;
		display: flex;
		justify-content: center;
	}
	&_svg {
		z-index: 2;
	}
	&_dialog {
		position: absolute;
		padding: 12px;
		background-color: #fff;
		color: #f33b4a;
		border-radius: 32px;
		font-size: 24px;
		font-weight: 700;
	}
}

.quazavr {
	top: 20%;
	left: 50%;
	opacity: 0;
	z-index: 3;
}
