# General
.DS_Store

# IDE
.idea/
.vscode/
.config
.code-workspace

# Dependency directories
node_modules/

# Tmp directories
.cache/
.tmp/

# Build directories
public/
lib/

# Logs files
*.log

# Coverage reports
coverage/

# Not use npm
package-lock.json